body {
    background-size: cover;
}

p {
    font-size: 12px;
    font-weight: 550;
    
}

.title {
    background-color: orange;
}

h3 {
    font-weight: 800;
    color: white;
    margin-top: 0px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
}